.header {
  background: white;
  padding: 0;
  border-bottom: 1px solid #5c6bc0; /* Indigo border */
}

.header a {
  color: #3f51b5; /* Indigo text color */
}

.header a:hover {
  background: #5c6bc0; /* Darker indigo on hover */
  color: white;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  padding: 1rem;
  color: #4527a0; /* Purple indigo logo */
}

.header ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.header ul a {
  padding: 1rem;
  display: inline-block;
}

.menu_container {
  position: relative;
}

.menu {
  position: absolute;
  z-index: 1001;
  background-color: #ede7f6; /* Light purple for the menu background */
  display: none;
}

.menu_container:hover .menu {
  display: block;
}

.menu a {
  width: 100%;
  min-width: 8rem;
}

.cart_count {
  background-color: #7e57c2; /* Purple for cart count */
  color: white;
  padding: 0.1rem 0.45rem;
  border-radius: 100rem;
  font-size: 0.9rem;
}